body{
    background-color:#cecaca;
}

#logo{
    margin-bottom:20px;
    margin-left: 15px;
    width: 30.6666666667%;
    opacity: 0.5;
    border-radius: 10px;
}
.lg{
    height: 85px;
    display:flex;
    float: left;
    
}
.nav-wrapper{
    background: #741d51; /* Old browsers */ 
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */ 
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */ 
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%);
}
.section{
    height: 450px;
}
.page-footer{
    background: #741d51; /* Old browsers */ 
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */ 
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */ 
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%);
}
#footer{
    display: flex;
    float: right;
    margin-top: -125px;
}