body{
    background-color:#cecaca;
}

.logo{
    width: 60px;
}

.nav-wrapper{
    background: #741d51; /* Old browsers */ 
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */ 
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */ 
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%);
}
.section{
    height: 450px;
}
.page-footer{
    background: #741d51; /* Old browsers */ 
    background: -moz-linear-gradient(left, #741d51 0%, #e44e52 100%); /* FF3.6-15 */ 
    background: -webkit-linear-gradient(left, #741d51 0%,#e44e52 100%); /* Chrome10-25,Safari5.1-6 */ 
    background: linear-gradient(to right, #741d51 0%,#e44e52 100%);
}
#footer{
    display: flex;
    float: right;
    margin-top: -125px;
}
.carrito:hover .table-car{
    width: 100%;
    position: absolute;
    position:fixed;
    display: block;
    right:-1075px;
    bottom: 40px;
    z-index: 1;
}
.collection{
    background: #fff;
}


.table-car{
    display: none;
}
